{% extends "base.html" %}
{% block title %}{{ url_partial.url.title().unwrap_or("comments") }}{% endblock title %}
{% block content %}
  <div class="w-full flex flex-col items-center p-8">
    {% if is_logged_in %}
    <div class="w-full max-w-screen-md" id="header"></div>
    {% endif %}
    <div class="w-full max-w-screen-md bg-white dark:bg-gray-800 shadow rounded-lg p-4 space-y-4">
      {% match url_partial.url.image_str() %}
        {% when Some with (src) %}
        <img id="url-img" class="w-full h-40 rounded shadow" src="{{ src }}" style="object-fit: cover" />
        {# Interactive expand/ collapse button #}
        <button id="expand-url-img-button" class="block h-8 w-8 ml-auto mr-2" style="margin-top: -2.5rem">
          <div class="h-8 w-8 flex justify-center items-center rounded bg-white">
            {% include "icons/expand.svg" %}
          </div>
        </button>
        <script>
          (function setupButton() {
            var button = document.getElementById("expand-url-img-button");
            var img = document.getElementById("url-img");
            var isExpanded = false;
            button.onclick = function onClick() {
              if (isExpanded) {
                img.style.height = null;
              } else {
                img.style.height = "auto";
              }
              isExpanded = !isExpanded;
            };
          })();
        </script>
        {% when None %}
      {% endmatch %}
      {{ url_partial|safe }}

      <div class="w-full flex flex-col items-center justify-center space-y-1 sm:pl-14">
        {% if !comment_list.is_empty() %}
          <h2 class="w-full text-xl font-semibold">Comments</h2>
        {% endif %}
        <style>.markdown a { text-decoration: underline; }</style>
        {% for comment_partial in comment_list %}
          {{ comment_partial|safe }}
        {% endfor %}
      </div>
      <div id="comments" data-url-id="{{ url_partial.url.id() }}"></div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  {% if is_logged_in %}
    <script>
      window.__xsrf_token = "{{ xsrf_token }}";
    </script>
    <script type="module" src="/dist/header.js"></script>
    <script type="module" src="/dist/comments.js"></script>
  {% endif %}
{% endblock scripts %}