{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="w-full flex flex-col items-center p-8">
        {% if is_logged_in %}
        <div class="w-full max-w-screen-md" id="header"></div>
        {% endif %}
        <div class="w-full max-w-screen-md bg-white dark:bg-gray-800 shadow rounded-lg p-4 space-y-4">
            {% match list_header %}
                {% when Some with (header) %}
                <div>
                    <h1 class="text-2xl font-semibold leading-none">{{ header.heading }}</h1>
                    <h2 class="text-xl text-gray-500 mb-4">{{ header.sub_heading }}</h2>
                </div>
                {% when None %}
            {% endmatch %}

            {% for url_partial in url_list %}
                {{ url_partial|safe }}
            {% endfor %}

            {% if url_list.is_empty() %}
                <div class="flex flex-col items-center">
                    {% include "icons/empty.svg" %}
                    <h1 class="w-full text-center text-lg font-semibold">There are no URLs here yet</h1>
                </div>
            {% endif %}

            <div class="w-full flex flex-wrap justify-center">
                {{ pagination|safe }}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% if is_logged_in %}
        <script>
            window.__xsrf_token = "{{ xsrf_token }}";
        </script>
        <script type="module" src="/dist/header.js"></script>
    {% endif %}
{% endblock scripts %}