{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="w-full flex flex-col items-center p-8">
        {% if is_logged_in %}
        <div class="w-full max-w-screen-md" id="header"></div>
        {% endif %}
        <div class="w-full max-w-screen-md bg-white dark:bg-gray-800 shadow rounded-lg p-4 space-y-4">
            {% match list_header %}
                {% when Some with (header) %}
                <div>
                    <h1 class="text-2xl font-semibold leading-none">{{ header.heading }}</h1>
                    <h2 class="text-xl text-gray-500 mb-4">{{ header.sub_heading }}</h2>
                </div>
                {% when None %}
            {% endmatch %}

            {% for url_partial in url_list %}
                {{ url_partial|safe }}
            {% endfor %}

            {% if url_list.is_empty() %}
                <div class="flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                    </svg>
                    <h1 class="w-full text-center text-lg font-semibold">There are no URLs here yet</h1>
                </div>
            {% endif %}

            <div class="w-full flex flex-wrap justify-center">
                {% for idx in 0..page_count %}
                    <button
                        onclick="window.location.href = window.location.href.replace(/(\/page\/\d+\/?)|(\/?$)/, '/page/{{ idx }}')"
                        class="
                            block flex-none w-8 h-8 m-2 rounded-md border-2 text-center leading-7
                            {% if idx != page %}
                                border-blue-500 text-blue-500
                            {% else %}
                                border-gray-400 text-gray-400
                            {% endif %}
                        "
                    >
                        {{ idx + 1 }}
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% if is_logged_in %}
        <script>
            window.__xsrf_token = "{{ xsrf_token }}";
        </script>
        <script type="module" src="/dist/header.js"></script>
    {% endif %}
{% endblock scripts %}