<div class="w-full sm:flex sm:space-x-2">
    {% if is_logged_in %}
        <div
            data-hydrate-vote-button
            data-id="{{ url.id() }}"
            data-count="{{ upvote_count }}"
            data-upvoted="{{ is_upvoted_by_viewer }}"
        ></div>
    {% else %}
        <a
            class="
                block w-10 h-10 flex-none m-2 sm:mx-0
                flex flex-col justify-center items-center
                border-2 border-blue-500 rounded text-blue-500
            "
            href="/login"
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-xs leading-none">{{ upvote_count }}</span>
        </a>
    {% endif %}
    <div class="sm:flex-grow">
        <a class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700" href="{{ url.url_str() }}">
            <h1 class="leading-5 text-xl font-semibold{% if url.title().is_none() %} break-all{% endif %}">
                {{ url.title().unwrap_or(url.url_str()) }}
            </h1>
            {% if url.title().is_some() || url.description().is_some() %}
                <p class="mt-1 leading-4 text-sm text-gray-600 dark:text-gray-500">
                    {% if url.title().is_some() %}
                        <span class="text-gray-400 underline italic break-all">{{ url.url_str() }}</span>
                    {% endif %}
                    {% match url.description() %}
                        {% when Some with (text) %}
                        {% if url.title().is_some() %}
                            &middot;
                        {% endif %}
                        {{ text }}
                        {% when None %}
                    {% endmatch %}
                </p>
            {% endif %}
        </a>
        <div class="p-1 sm:flex sm:items-center italic leading-4 text-sm text-gray-400 dark:text-gray-500">
            {% if !url.status().is_success() %}
                <div
                    class="
                        p-1 mr-1 flex items-center rounded
                        not-italic font-semibold
                        bg-red-200 text-red-800 dark:bg-red-800 dark:text-red-200
                    "
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                    {{ url.status() }}
                </div>
            {% endif %}
            <a
                class="block p-1 rounded-xl flex items-center hover:bg-gray-300"
                href="/user/{{ created_by.id() }}"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                </svg>
                {{ created_by.name() }}
            </a>
            <span class="sm:block hidden">&middot;</span>
            <a
                class="block p-1 rounded-xl flex items-center hover:bg-gray-300"
                href="/comments/{{ url.id() }}/{{ url.slug().as_deref().unwrap_or("") }}"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
                    <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
                </svg>
                {{ comment_count }} Comment{% if comment_count != 1 %}s{% endif %}
            </a>
            <span class="sm:block hidden">&middot;</span>
            <div class="p-1 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                </svg>
                {{ "{}"|format(url.created_at().format("%A %e. %b %Y")) }}
            </div>
        </div>
    </div>
</div>