<div class="w-full sm:flex sm:space-x-2">
    {% if is_logged_in %}
        <div
            data-hydrate-vote-button
            data-id="{{ url.id() }}"
            data-count="{{ upvote_count }}"
            data-upvoted="{{ is_upvoted_by_viewer }}"
        ></div>
    {% else %}
        <a
            class="
                block w-10 h-10 flex-none m-2 sm:mx-0
                flex flex-col justify-center items-center
                border-2 border-blue-500 rounded text-blue-500
            "
            href="/login"
        >
            {% include "icons/upvote.svg" %}
            <span class="text-xs leading-none">{{ upvote_count }}</span>
        </a>
    {% endif %}
    <div class="sm:flex-grow">
        <a class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700" href="{{ url.url_str() }}">
            <h1 class="leading-5 text-xl font-semibold{% if url.title().is_none() %} break-all{% endif %}">
                {{ url.title().unwrap_or(url.url_str()) }}
            </h1>
            {% if url.title().is_some() || url.description().is_some() %}
                <p class="mt-1 leading-4 text-sm text-gray-600 dark:text-gray-500">
                    {% if url.title().is_some() %}
                        <span class="text-gray-400 underline italic break-all">{{ url.url_str() }}</span>
                    {% endif %}
                    {% match url.description() %}
                        {% when Some with (text) %}
                        {% if url.title().is_some() %}
                            &middot;
                        {% endif %}
                        {{ text }}
                        {% when None %}
                    {% endmatch %}
                </p>
            {% endif %}
        </a>
        <div class="p-1 sm:flex sm:items-center italic leading-4 text-sm text-gray-400 dark:text-gray-500">
            {% if !url.status().is_success() %}
                <div
                    class="
                        p-1 mr-1 flex items-center rounded
                        not-italic font-semibold
                        bg-red-200 text-red-800 dark:bg-red-800 dark:text-red-200
                    "
                >
                    {% include "icons/error.svg" %}
                    {{ url.status() }}
                </div>
            {% endif %}
            <a
                class="block p-1 rounded-xl flex items-center hover:bg-gray-300"
                href="/user/{{ created_by.id() }}"
            >
                {% include "icons/person.svg" %}
                {{ created_by.name() }}
            </a>
            <span class="sm:block hidden">&middot;</span>
            <a
                class="block p-1 rounded-xl flex items-center hover:bg-gray-300"
                href="/comments/{{ url.id() }}/{{ url.slug().as_deref().unwrap_or("") }}"
            >
                {% include "icons/comment.svg" %}
                {{ comment_count }} Comment{% if comment_count != 1 %}s{% endif %}
            </a>
            <span class="sm:block hidden">&middot;</span>
            <div class="p-1 flex items-center">
                {% include "icons/calendar.svg" %}
                {{ "{}"|format(url.created_at().format("%A %e. %b %Y")) }}
            </div>
        </div>
    </div>
</div>