<a class="block w-full sm:flex rounded hover:bg-gray-200 dark:hover:bg-gray-700" href="{{ url.url_str() }}">
    <!-- <VoteButton initDidVote={didVote} initCount={42} /> -->
    <div class="sm:flex-grow p-2">
        <h1 class="leading-5 text-xl font-semibold">
            {{ url.title().unwrap_or(url.url_str()) }}
        </h1>
        {% if url.title().is_some() || url.description().is_some() %}
            <p class="mt-1 leading-4 text-sm text-gray-600 dark:text-gray-500">
                {% if url.title().is_some() %}
                    <span class="text-gray-400 underline italic">{{ url.url_str() }}</span> &middot;
                {% endif %}
                {% match url.description() %}
                    {% when Some with (text) %}
                    {{ text }}
                    {% when None %}
                {% endmatch %}
            </p>
        {% endif %}
        <div class="flex items-center mt-1 italic leading-4 text-sm text-gray-400 dark:text-gray-500">
            <a class="block p-1 -ml-1 rounded-xl flex items-center hover:bg-gray-300" href="/user/{{ created_by.id() }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                </svg>
                {{ created_by.name() }}
            </a>
            &middot;
            <a class="block p-1 rounded-xl flex items-center hover:bg-gray-300" href="/comments/{{ url.id() }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
                    <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
                </svg>
                0 Comments
            </a>
            &middot;
            {{ "{}"|format(url.created_at().format("%A %e. %b %Y")) }}
        </div>
    </div>
    {image && <img class="w-full sm:w-40 sm:h-20 max-w-full rounded shadow-xl" src={image} />}
</a>