<div class="w-full flex space-x-4 justify-center my-16">
  <a href="/" class="font-semibold hover:underline">urls.fyi</a>
  {% if is_logged_in %}
    <a href="/account" class="text-gray-500 hover:underline">account</a>
    <a href="/logout" class="text-gray-500 hover:underline">logout</a>
  {% else %}
    <a href="/login" class="text-gray-500 hover:underline">login</a>
    <a href="/register" class="text-gray-500 hover:underline">register</a>
  {% endif %}
  <a href="https://www.github.com/dyedgreen/urls" class="text-gray-500 hover:underline">open source</a>
</div>
